 <!-- ===================================SLIDER======================================================= -->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">

            <div class="carousel-item active" data-bs-interval="3000">
                <img src="images/Quien esta listo para un sanguchheeee (1).png" class="d-block w-100" alt="slide1">
            </div>

            <div class="carousel-item" data-bs-interval="3000">
                <img src="images/Quien esta listo para un sanguchheeee (2).png" class="d-block w-100" alt="slide2">
            </div>

            <div class="carousel-item" data-bs-interval="3000">
                <img src="images/Quien esta listo para un sanguchheeee (3).png" class="d-block w-100" alt="slide3">
            </div>


        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>



    <!-- ===================================FIN SLIDER======================================================= -->
    <!-- ===================================INTRO======================================================= -->
    <section class="w-50 mx-auto text-center pt-5" id="intro">
        <h1 class="p-3 fs-2 border-top border-3">El sabor es importante y que sea como en casa es <span
                class="text-primary">fundamental</span></h1>
        <p class="p-3 fs-4"><span class="text-primary"> Sabor a Casa</span> el lugar adecuado para poder comer en fuera
            de casa eso que
            tanto nos gusta, comidas caseras con alto nivel</p>




    </section>
    <!-- ===================================FIN INTRO======================================================= -->
    <!-- ===================================SERVICIOS======================================================= -->
    <section id="novedades" class="container-fluid" style="background: #f3f3f3; ">
        <div class="row w-75 mx-auto  servicios-fila">
            <div class="col-lg-6 col-md-12 col-sm-12
        d-flex  my-2 icono-wrap">
                <img src="./images/www.sitioincreible.com.png" alt="novedades" width="150" height="150">
                <div>
                    <h3 class="fs-5 mt-4 px-4 pb-1">Novedades</h3>
                    <p class="px-4">Los mejores platillos los encontras por aca</p>
                </div>

            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 d-flex  my-2 icono-wrap">
                <img src="./images/www.sitioincreible.com.png" alt="novedades" width="150" height="150">
                <div>
                    <h3 class="fs-5 mt-4 px-4 pb-1">Novedades</h3>
                    <p class="px-4">Los mejores platillos los encontras por aca</p>
                </div>

            </div>
            <div class="col-lg-6 col-md-12 col-sm-12
        d-flex  my-2 icono-wrap">
                <img src="./images/www.sitioincreible.com.png" alt="novedades" width="150" height="150">
                <div>
                    <h3 class="fs-5 mt-4 px-4 pb-1">Novedades</h3>
                    <p class="px-4">Los mejores platillos los encontras por aca</p>
                </div>

            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 d-flex  my-2 icono-wrap">
                <img src="./images/www.sitioincreible.com.png" alt="novedades" width="150" height="150">
                <div>
                    <h3 class="fs-5 mt-4 px-4 pb-1">Novedades</h3>
                    <p class="px-4">Los mejores platillos los encontras por aca</p>
                </div>

            </div>
        </div>
    </section>


    <!-- ===================================FIN SERVICIOS======================================================= -->
    <!-- ===================================NOSOTROS======================================================= -->
    <section>
        <div class="w-75 m-auto text-center mt-4  " id="nosotros">
            <h1 class="mb-5 fs-2 mt-1">
                Un equipo pequeño con <span class="text-primary">resultados grandes </span>
            </h1>
            <p class="fs-4">Siempre buscamos gente con ganas de compartir una buena area de trabajo con compañerismo y
                dedicacion al
                trasmitir el verdadero sabor a casa</p>
        </div>
        <div class="mt-5 text-center">
            <img class="img-fluid" src="./images/Dónde Se como como en casa.png" alt="" width="750" height="200">
        </div>
        <!-- ===================================FIN NOSOTROS======================================================= -->
        <!-- ===================================MAPA======================================================= -->

        <div id="local" class="border-top border-2">
            <div class="mapa lg-3"><iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3273.228058574875!2d-60.04818903183984!3d-34.87561910291318!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95beb00c636af243%3A0xa7b2607a294ff500!2sAv.%20de%20Tomaso%20%26%20C.%20514%2C%20Chivilcoy%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1660249700786!5m2!1ses-419!2sar"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe></div>
         
            <div class="wrapper lg-9">
                <h2>Ubicado en Chivilcoy, Buenos Aires</h2>
                <h2 class="text-primary mb-4" id="typewriter"></h2>
                <p class="fs-5 text-body">Nuestra cocina se situa en un calido y hermoso cuidad al oeste de la provincia
                    de buenos aires mas conocida como la perla del oeste,Chivilcoy</p>
                <section class="d-flex" id="numeros-local">
                    <div>
                        <p class="text-primary fs-5">130</p>
                        <p>Dias de sol</p>
                    </div>
                    <div>
                        <p class="text-primary fs-5">100%</p>
                        <p>Aprobado</p>
                    </div>
                    <div>
                        <p class="text-primary fs-5">30°</p>
                        <p>Temperatura</p>
                    </div>
                </section>
            </div>
        </div>

    </section>

    <!-- ===================================FIN MAPA======================================================= -->
    <!-- ===================================INICIO contacto======================================================= -->
    <section id="seccion-contacto" class="border-bottom border-secondary border-2">
        <div class="bg-contactos"></div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#0099ff" fill-opacity="1"
                d="M0,224L12.6,240C25.3,256,51,288,76,256C101.1,224,126,128,152,117.3C176.8,107,202,181,227,218.7C252.6,256,278,256,303,256C328.4,256,354,256,379,224C404.2,192,429,128,455,101.3C480,75,505,85,531,85.3C555.8,85,581,75,606,96C631.6,117,657,171,682,213.3C707.4,256,733,288,758,266.7C783.2,245,808,171,834,144C858.9,117,884,139,909,133.3C934.7,128,960,96,985,90.7C1010.5,85,1036,107,1061,117.3C1086.3,128,1112,128,1137,144C1162.1,160,1187,192,1213,213.3C1237.9,235,1263,245,1288,261.3C1313.7,277,1339,299,1364,298.7C1389.5,299,1415,277,1427,266.7L1440,256L1440,320L1427.4,320C1414.7,320,1389,320,1364,320C1338.9,320,1314,320,1288,320C1263.2,320,1238,320,1213,320C1187.4,320,1162,320,1137,320C1111.6,320,1086,320,1061,320C1035.8,320,1011,320,985,320C960,320,935,320,909,320C884.2,320,859,320,834,320C808.4,320,783,320,758,320C732.6,320,707,320,682,320C656.8,320,632,320,606,320C581.1,320,556,320,531,320C505.3,320,480,320,455,320C429.5,320,404,320,379,320C353.7,320,328,320,303,320C277.9,320,253,320,227,320C202.1,320,177,320,152,320C126.3,320,101,320,76,320C50.5,320,25,320,13,320L0,320Z">
            </path>
        </svg>


        <!-- ===================================FIN contacto======================================================= -->
        <!-- ===================================FORMALARIO======================================================= -->
        <div class="container" id="contenedor-formulario">
            <div id="titulo-formalario" class="text-center mb-4">
                <div id="img-formulario"><img src="./images/Diseño sin título.png" alt="contacto" class="img-fluid"></div>
                <h2>Contactanos</h2>
                <p>Estamos aqui para llevar el mejor sabor a todos lados</p>
            </div>
            <form action="/" method="post">
             <div class="mb-3">
                <input type="email"
                class="form-control" id="email"
                placeholder="nombre@ejemplo.com"required name="email">
            </div>
            <div class="mb-3">
                <input type="text"
                class="form-control" id="nombre"
                placeholder="Adrian Farnandez"required name="nombre">
            </div>
            <div class="mb-3">
                <input type="tel"
                class="form-control" id="email"
                placeholder="11-4650-4056"required name="tel">
            </div>
            <div class="mb-3">
                <textarea class="form-control" id="exempleformcontroltextare1" rows="3" placeholder="Escribe tu mensaje" name="mensaje" ></textarea>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary w-100 fs-5">Enviar Mensaje</button>
            </div>
                 
            </form>
            <p>{{message}}</p>
        </div>

    </section>
    <!-- ===================================FINFORMALARIO======================================================= -->